/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#map {
  height: 1000px;
  width: 100%;
}

.custom-popup .leaflet-popup-content-wrapper {
  background: #2c3e50;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.custom-popup .leaflet-popup-content-wrapper a {
  color: rgba(255,255,255,0.5);
}

#inner {
  display: table;
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
}

#outer {
  width: 100%
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
